html {
  box-sizing: border-box;
  background-color: #dbd6d0;
}79766f

*, *::before, *::after {
  box-sizing: inherit;
}

.navbox h1 {
  text-align: center;
  color: white;
  font-family: "Bevan", cursive;
  line-height: 0.5em
}

.navbox body {
  background-color: #79766f;
  padding: 1em;
}

.navbox a {
  display: inline-block;
  background-color: #73363b;
  text-align: center;
  color: white;
  padding: 1em;
  text-decoration: none;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  margin: .5em;
}

.navbox a:hover {
  background-color: #ff332a;
}
