html {
  box-sizing: border-box;
  background-color: #dbd6d0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.navbox h1 {
  text-align: center;
  color: white;
  font-family: "Bevan", cursive;
  line-height: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2em;
}

.navbox body {
  display: inline-block;
  background-color: #79766f;
  border: 1em;
}

.navbox a {
  display: inline-block;
  background-color: #73363b;
  text-align: center;
  color: white;
  padding: 0.8em;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 0.25em;
  font-family: sans-serif;
  font-size: 0.9em;
}

.navbox ul {
  list-style-type: none;
  margin: .5em;
}

.navbox a:hover {
  background-color: #ff332a;
}
